---
import Social from "@components/Social.astro"
import TypographyLink from "@components/TypographyLink.astro"

import {SOCIAL_MEDIA_SERVICES} from 'src/types/social-media'


const SOCIALS = [
  {
    name: "wetereynarzwpracy",
    icon: "",
    link: "https://www.instagram.com/weterynarz_wpracy/",
    service: SOCIAL_MEDIA_SERVICES.INSTAGRAM
  },
  {
    name: "wetereynarzwpracy",
    icon: "",
    link: "https://www.facebook.com/weterynarzwpracy",
    service: SOCIAL_MEDIA_SERVICES.FACEBOOK
  }
]

---

<footer class="px-6 py-3 mt-2 dark:bg-gray-950 bg-blue-950 text-blue-100 max-sm:block" >
  <div class="flex justify-around items-center max-w-prose mx-auto max-sm:flex-col max-sm:gap-2">
    <TypographyLink href="about" light>
      About
    </TypographyLink>
    <TypographyLink href="contact" light>
      Contact
    </TypographyLink>
  </div>
  <div class="flex justify-center items-center">
    <div class="flex justify-center items-center gap-4">
      {SOCIALS.map(social => (
        <Social service={social.service} name={social.name} link={social.link} icon={social.icon}/>
      ))}
    </div>
  </div>
  <div class="flex justify-center items-center mt-3">
    <p class="text-sm">Powered by Astro, Made by Seyhak Ly, Copyright © 2024</p>
  </div>
</footer>