---
import { Image } from "astro:assets"
import BaseLayout from "@layouts/BaseLayout.astro"
import Carousel from "@components/Carousel/Carousel.astro"
import IndexSectionWithImg from "@components/IndexSectionWithImg/IndexSectionWithImg.astro"
import AniaImg from "@assets/images/ania.jpeg"
import RatImg from "@assets/images/rat.jpeg"
import CatImg from "@assets/images/cat.jpeg"
import ReptileImg from "@assets/images/reptile.jpeg"
import EdenImg from "@assets/images/co/logo_eden.png"
import AviImg from "@assets/images/co/logo_avi.png"

const CO_IMAGES = [
  {
    src: EdenImg,
    href: "https://eden.opole.pl",
    alt: "klinika weterynaryjna Eden"
  },
  {
    src: AviImg,
    href: "https://www.facebook.com/OpolskieCentrumAvi/",
    alt: 'Opolskie Centrum Leczenia i Rehabilitacji Dzikich Zwierzt "Avi"'
  }
]
---

<BaseLayout>
  <section class="flex justify-center flex-col">
    <h2 class="text-center">Hej tu Ania, Weterynarz na dy偶urze </h2>
    <Image
      src={AniaImg}
      alt="To ja Anna Ganowska, weterynarz w pracy!"
      loading="eager"
      class="rounded md:mx-12 w-auto lg:mx-14 xl:mx-24"
    />
  </section>
  <section class="flex flex-col justify-center gap-4">
    <h2 class="revealed mb-0">Jestem specjalistk od</h2>
    <IndexSectionWithImg
      className="revealed fade-left flex-row-reverse"
      title="Gad贸w"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tincidunt urna. Cras erat purus, molestie at augue at, venenatis vestibulum elit. Suspendisse potenti. Morbi vel metus placerat, placerat felis nec, pulvinar purus. Sed eget viverra elit, a vulputate ligula. Sed ac massa sed ligula malesuada pretium ut nec augue. Vivamus interdum eros sit amet scelerisque sagittis. Nullam in ligula nulla. Aenean a aliquam enim."
      imgSrc={ReptileImg}
      imgAlt="twoja stara"
    />
    <IndexSectionWithImg
      className="revealed fade-right"
      title="Gryzoni"
      imgSrc={RatImg}
      imgAlt="twoja stara"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tincidunt urna. Cras erat purus, molestie at augue at, venenatis vestibulum elit. Suspendisse potenti. Morbi vel metus placerat, placerat felis nec, pulvinar purus. Sed eget viverra elit, a vulputate ligula. Sed ac massa sed ligula malesuada pretium ut nec augue. Vivamus interdum eros sit amet scelerisque sagittis. Nullam in ligula nulla. Aenean a aliquam enim."
    />
    <IndexSectionWithImg
      className="revealed fade-left flex-row-reverse"
      title="Kot贸w"
      imgSrc={CatImg}
      imgAlt="twoja stara"
    />
    <IndexSectionWithImg
      className="revealed fade-right"
      title="Ps贸w"
      imgSrc={ReptileImg}
      imgAlt="twoja stara"
    />
  </section>
  <section class="revealed fade-bottom my-6">
    <h2 class="text-center">Wsp贸pracuj z :</h2>
    <Carousel images={CO_IMAGES} />
  </section>
</BaseLayout>
