---
import { Image } from "astro:assets"
import BaseLayout from "src/layouts/BaseLayout.astro"
import AnnaGanowskaHiImg from "@assets/images/AnnaGanowskaHi.webp"
import IndexSectionWithImg from "@components/IndexSectionWithImg/IndexSectionWithImg.astro"
import Img1 from "@assets/images/img1.jpeg"
---

<BaseLayout>
  <section class="min-h-10">
    <!-- <h2>Hej tu Anna Ganowska - Weterynarz w pracy!</h2> -->
  </section>
  <section class="flex justify-center">
    <Image
      src={AnnaGanowskaHiImg}
      alt="To ja Anna Ganowska, weterynarz w pracy!"
      loading="eager"
    />
  </section>
  <section class="flex flex-col justify-center gap-4">
    <h1 class="revealed">Jestem specjalistką od</h1>
    <IndexSectionWithImg
      className="revealed fade-left flex-row-reverse"
      title="Gadów"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tincidunt urna. Cras erat purus, molestie at augue at, venenatis vestibulum elit. Suspendisse potenti. Morbi vel metus placerat, placerat felis nec, pulvinar purus. Sed eget viverra elit, a vulputate ligula. Sed ac massa sed ligula malesuada pretium ut nec augue. Vivamus interdum eros sit amet scelerisque sagittis. Nullam in ligula nulla. Aenean a aliquam enim."
      imgSrc={Img1}
      imgAlt="twoja stara"
    />
    <IndexSectionWithImg
      className="revealed fade-right"
      title="Gryzoni"
      imgSrc={Img1}
      imgAlt="twoja stara"
      description="Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent vel tincidunt urna. Cras erat purus, molestie at augue at, venenatis vestibulum elit. Suspendisse potenti. Morbi vel metus placerat, placerat felis nec, pulvinar purus. Sed eget viverra elit, a vulputate ligula. Sed ac massa sed ligula malesuada pretium ut nec augue. Vivamus interdum eros sit amet scelerisque sagittis. Nullam in ligula nulla. Aenean a aliquam enim."
    />
    <IndexSectionWithImg
      className="revealed fade-left flex-row-reverse"
      title="Kotów"
      imgSrc={Img1}
      imgAlt="twoja stara"
    />
    <IndexSectionWithImg
      className="revealed fade-right"
      title="Psów"
      imgSrc={Img1}
      imgAlt="twoja stara"
    />
  </section>
  <section class="revealed fade-bottom my-6">
    <h2>Współpracuję z :</h2>
    GOogle maps shit?
  </section>
</BaseLayout>
