---
import Footer from "./partials/Footer.astro"
import Header from "./partials/Header.astro"
// import Logo from "@assets/images/logo.png?path"

import "@styles/global.sass"
type Props = {
  pageTitle?: string
  description?: string
  ogType?: string
  mainClass?: string
}
const {
  pageTitle = "Weterynarz od gadów, królików, gryzoni, psów i kotów - Ania Ganowska",
  description = "Blog weterynaryjny Ani Ganowskiej - o gadach, gryzoniach, psach i kotach. Na tej stronie chciałabym przekazać Wam wiedzę na temat zwierzaków. Moimi pacjentami są psy i koty, a także króliki, gryzonie i gady.",
  ogType = "website",
  mainClass = "items-center justify-center"
} = Astro.props
const url = "vetblog.netlify.app"
const locale = "pl"
const siteName = "Blog Ani Ganowskiej"
---

<html lang={locale}>
  <head>
    <meta charset="utf-8" />
    <meta name="description" content={description} />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <!-- <meta name="google-site-verification" content="..."> -->
    <meta name="generator" content={Astro.generator} />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>{pageTitle}</title>
    <meta property="og:title" content={pageTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:type" content={ogType} />
    <meta property="og:locale" content={locale} />
    <meta property="og:url" content={url} />
    <meta property="og:site_name" content={siteName} />
    <meta property="og:image" content="assets/images/logo.png" />
    <slot name="meta" />
    <script src="src/scripts/global-raw.js"></script>
  </head>
  <body
    class="dark:text-blue-50 bg-gradient-to-br from-blue-100 via-purple-500 to-pink-500 dark:from-blue-950 dark:via-purple-900 dark:to-pink-800"
  >
    <Header />
    <div class="flex min-h-[80vh] max-sm:block mx-auto max-w-prose max-sm:mx-5">
      <main class:list={["flex flex-col gap-2", mainClass]}>
        <slot />
      </main>
    </div>
    <Footer />
  </body>
</html>
